<div class="mt-5 d-flex justify-content-center">
    <div class="card w-25">

        <p  class="fs-1 text-center fw-medium">Signup as Instructor</p>
        <div class="card-body" >
            <%= form_with model: @user, url: {:action=>"create"}, class: "w-100" do |form|  %>
            <% if @user.errors.any? %>
            <div class="alert alert-danger">
                <% @user.errors.full_messages.each do |message| %>
                <div>
                    <%= message %>
                </div>
                <% end %>

            </div>
            <% end %>
            
            <div class="mb-3">
                <%= form.label :name%>
                <%= form.text_field :name, class: "form-control" %>
            </div> 
            <div class="mb-3">
                <%= form.label :username%>
                <%= form.text_field :username, class: "form-control" %>
            </div>
            <div class="mb-3">
                <%= form.label :password%>
                <%= form.password_field :password, class: "form-control" %>
            </div>
            <div class="mb-3">
                <%= form.label :password_confirmation%>
                <%= form.password_field :password_confirmation, class: "form-control" %>
            </div>
            <div class="mb-3 d-flex justify-content-center">
                <%= form.submit "Signup", class: "btn btn-primary w-75"%>
            </div>
         <% end %>
        </div>
    </div>
    
        
</div>